#quienes-somos
  .text-center
    %h1.title= "Quienes somos"
          
  .group
    .title-little.text-center
      Desarrolladores

    .item
      .imagen
        = image_tag("nickel.png")

      .texto
        %p
          Las reglas del juego han cambiado.
          Hoy día es posible hacer proyectos web de forma más productiva y ágil que nunca.
          En <b>Flowers in Space</b> hacemos proyectos web con nuevas metodologías y herramientas, y con un ingrediente único: <i>ilusión</i>.          
        
    .item
      .imagen
        = image_tag("n3uro5i5.jpg")

      .texto
        %p
          Las reglas del juego han cambiado.
          Hoy día es posible hacer proyectos web de forma más productiva y ágil que nunca.
          En <b>Flowers in Space</b> hacemos proyectos web con nuevas metodologías y herramientas, y con un ingrediente único: <i>ilusión</i>. 
        
    .item
      .imagen
        = image_tag("ceritium.jpg")

      .texto
        %p
          Las reglas del juego han cambiado.
          Hoy día es posible hacer proyectos web de forma más productiva y ágil que nunca.
          En <b>Flowers in Space</b> hacemos proyectos web con nuevas metodologías y herramientas, y con un ingrediente único: <i>ilusión</i>.                                   
          
  .group
    .title-little.text-center
      La empresa

    .item
      .imagen
        = image_tag("flowers.png")

      .texto
        %p
          Las reglas del juego han cambiado.
          Hoy día es posible hacer proyectos web de forma más productiva y ágil que nunca.
          En <b>Flowers in Space</b> hacemos proyectos web con nuevas metodologías y herramientas, y con un ingrediente único: <i>ilusión</i>.
          

.text-center            
  = link_to "Volver", root_path, :title => "Ir a la página principal"